extends layout2.pug

block header
    h2 Ошибка макета

block head
    style.
        .card {
            box-shadow: none;
            border: 2px solid #e0e1eb;
            background: white;
            min-height: 10rem;
        }

block body
    .card
        h2 Упс...
